@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace components "components.*";

/*
Fonts
 */

@font-face {
    src: url("/assets/fonts/Avenir-Regular.otf");
    fontFamily: AvenirEmbedded;
    fontWeight: normal;
    fontStyle: normal;
}

@font-face {
    src: url("/assets/fonts/Avenir-Bold.otf");
    fontFamily: AvenirEmbedded;
    fontWeight: bold;
    fontStyle: normal;
}

/*
Components
 */

s|Panel {
    skinClass: ClassReference("skins.PanelSkin");
}

s|VScrollBar {
    skinClass: ClassReference("skins.VScrollBarSkin");
}

.ProgressBarComponent {
    color: #f49f53;
}

s|Label {
    fontFamily: AvenirEmbedded;
    fontWeight: normal;
    fontSize: 14;
    color: #2d3436;
    paddingTop: 1;
}

s|TextInput {
    focusAlpha: 0;
    fontFamily: AvenirEmbedded;
    fontWeight: normal;
    fontSize: 14;
    color: #2d3436;
    skinClass: ClassReference("skins.TextInputSkin");
}

s|Button {
    skinClass: ClassReference("skins.buttons.SecondaryButtonSkin");
}